.body{
    background-color: rgb(100, 100, 100);
}
.dflex{ 

    display: flex; 
} 
.center{ 
    justify-content: center; 
    align-items: center; 
} 
.background-image {
    background-image: url('https://flomaster.top/o/uploads/posts/2023-11/1700477065_flomaster-top-p-multyashnii-temnii-les-narisovannie-maslom-5.jpg'); /* Путь к вашей картинке */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#gamebox{ 
    width: 900px; 
 
} 
h1{ 
    text-align: center; 
    font-size: 100px; 
    color: bisque;
} 
p{ 
    font-size: 30px; 
    color: bisque;
} 
input{ 
    font-size: 50px; 
    padding: 10px 20px; 
    width: calc(100% - 40px); 
    box-shadow: 8px 11px 0px 1px black; 
} 
.mt{ 
    margin-top: 100px; 
} 
.btn{ 
    background-color: black; 
    font-size: 30px; 
    color: white; 
    padding: 10px 30px; 
    cursor: pointer; 
    box-shadow: 8px 11px 0px 1px rgb(110, 110, 110); 
} 
.link{ 
    font-size: 30px; 
    color: rgb(0, 0, 0); 
    padding: 10px 30px; 
    cursor: pointer; 
    text-decoration: none; 
     
} 
.logo{ 
    border: 1px solid black; 
} 
nav{ 
    margin-top: 20px; 
}